<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar search-icon="search-circle" placeholder="Search Notification"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>user likes 1...</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>user likes 1...</ion-label>
      </ion-chip>
    </ion-item>

    <ion-item>
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>user likes 1...</ion-label>
      </ion-chip>
    </ion-item>

    <ion-item>
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>user likes 1...</ion-label>
      </ion-chip>
    </ion-item>

    <ion-item>
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>user likes 1...</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>